.ag-cell {
    white-space: normal !important;
}

.form-separator-row  {
    background-color: #BA0225 !important;
    font-size: 20px !important;
}

.section-separator-row  {
    background-color: #ffffea !important;
    font-size: 14px !important;
}